/* -------------------------------------------------------------------------- */
/*                                                                            */
/*   Map geolocation. sprint04. t11                                           */
/*                                                                            */
/*   By: Oleksiy Nechaiev <nechaeff@gmail.com>                                */
/*                        <t.me/losini>                                       */
/*   Created: 2020/10/23 15:22 (24H)                                          */
/*   Finished: 2020/10/23 17:19 (24H)                                         */
/*                                                                            */
/*   ucode IT academy <ucode.world>                                           */
/*   Je sues 42, nous sommes 42                                               */
/*                                                                            */
/*   Topics: API Introduction                                                 */
/*                                                                            */
/* -------------------------------------------------------------------------- */

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
}

#map {
  position: relative;
}
