.japan {
  border: 3px solid #d1d1d1;
  height: 10rem;
  width: 15rem;
  align-items: center;
}

.japan::before {
  content: "";
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #a03037;
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 2rem;
}
