.match {
    height: 40em;
    width: 30em;
    border: 2px solid black;
    z-index: 0;
}

.stick {
    position: relative;
    border: 1px solid #B67254;
    height: 20em;
    width: 1em;
    margin: 16em auto auto auto;
    background: linear-gradient(90deg, #7D4A2B, #DAA572);
    z-index: 1;
}

.top {
    background-color: #432918;
    position: absolute;
    height: 2em;
    width: 1.8em;
    border-radius: 50%;
    margin: 15em 14.1em auto 14.1em;
    z-index: 2;
    box-shadow: 49 50 10em 28 red;
}

.fire {

}
