body {
  font-family:    "TSTAR W00 Heavy" !important;
  letter-spacing: .05em;
}

#mainContent {
  margin-top: 102px;
}


/*====== Custom style for navigation ======*/
.custom-dropdown a {
  color: #cb323b !important;
}

.custom-navbar {
  /*position:   fixed !important;*/
  /*z-index:    100 !important;*/
  width:      100vw;
  background: rgba(255, 255, 255, 0) !important;
}

.custom-search {
  background-color: #fff;
  border-width:     2px;
  border-style:     solid;
  border-color:     rgb(224, 21, 51);
  border-image:     initial;
  border-radius:    30px;
}

.custom-search-input {
  color:        #6f6f6f;
  border-style: none !important;
  background:   transparent !important;
  width:        80% !important;
}

input[type="search"]:focus {
  box-shadow: none;
  outline:    0 none;
}

.custom-search-btn {
  color:        #cb323b !important;
  background:   transparent;
  border-style: none !important;
  outline:      none !important;
  font-size:    1.2em !important;
  width:        10%;
}

.personal-item {
  width:       15%;
  margin-left: 2rem;
  white-space: nowrap;
}

.auth {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  width:           100%;
  margin-right:    2vw;
}

.auth-link {
  display:         flex;
  justify-content: center;
  align-items:     center;
  color:           #6f6f6f;
  text-decoration: none;
  font-size:       1em;
  transition:      .3s;
}

.auth-link i {
  padding:   0 5px;
  font-size: 1.4em;
  color:     #e01533;
}

.auth-link:hover { color: #e01533; }

/*====== Custom style for carousel ======*/

#carouselExampleControls {
  max-width: 1140px;
  margin: 0 auto;
}

.carousel-caption-first {
  bottom: 60% !important;
  left:   20% !important;
}

.carousel-caption-second {
  bottom: 25% !important;
}

.carousel-caption-third {
  bottom: 65% !important;
  left:   -10% !important;
  color:  #cb323b !important;
}

.carousel-caption-third button {
  color: #cb323b !important;
}

.carousel-caption-fourth {
  bottom: 14% !important;
}

.carousel-caption-first > button,
.carousel-caption-second > button,
.carousel-caption-third > button,
.carousel-caption-fourth > button {
  background-color: rgba(108, 117, 125, 0) !important;
}

.carousel-caption-first > button:hover,
.carousel-caption-second > button:hover,
.carousel-caption-third > button:hover,
.carousel-caption-fourth > button:hover {
  background-color: rgba(108, 117, 125, 0.4) !important;
}

/*====== Style for filters block ======*/

input[type=text]:focus {
  box-shadow: none;
  outline:    0 none;
}

.filters > div {
  margin-top:    1rem !important;
  margin-bottom: 1rem !important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

#dropdownMenuButton {
  width:      80% !important;
  background: #cb323b;
  outline:    none !important;
}

#dropdownMenuButton:focus {
  box-shadow: none !important;
  background: #bb323b;
}

#dropdownMenuButton ~ div > a { color: #cb323b; }

#dropdownMenuButton ~ div { width: 80%; }

.custom-set-max-price { width: 80% !important; }

.custom-set-max-price span {
  background: #cb323b !important;
  color:      white;
}

[id^="inlineCheckbox"] {
  display:  none !important;
  z-index:  -1;
  position: absolute;
}

[id^="inlineCheckbox"] ~ label:not(empty) {
  color: #6e757c !important;
}

.custom-check-size {
  border:        1px solid #cfd4da;
  border-radius: .25rem;
  padding:       .3rem;
  width:         80%;
  white-space:   nowrap;
}

.custom-check-size > div { margin: 0 auto !important;}

.custom-check-indicator {
  height:        1rem;
  width:         1rem;
  border:        1px solid #cfd4da;
  border-radius: 50%;
  margin-right:  .3rem;
}

[id^="inlineCheckbox"]:checked ~ .custom-check-indicator {
  background: #cb323b;
  content:    "+";
}

/*====== Catalog section ======*/

.catalog {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.catalog img {
  height:    auto;
  max-width: 100%;
}

.product {
  background:    #fff none repeat scroll 0 0;
  border:        1px solid #c0c0c0;
  height:        390px;
  overflow:      hidden;
  padding:       25px 15px;
  position:      relative;
  text-align:    center;
  transition:    all 0.5s ease 0s;
  border-radius: .25rem;
  margin: 5px
}

.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
  height: auto;
}

.product-title a {
  color:          #000;
  font-weight:    500;
  text-transform: uppercase;
}

.product-desc {
  max-height: 8rem;
  overflow:   scroll;
  font-size:  .7rem;
}

.product-price {
  bottom:      15px;
  left:        0;
  position:    absolute;
  width:       100%;
  color:       #d51e08;
  font-size:   18px;
  font-weight: 500;
}

.fa-cart-plus {font-size: 1.5rem;}

@font-face {
  font-family: "TSTAR W00 Heavy";
  src:         url("../assets/fonts/TSTAR_W00_Heavy.woff") format("woff"),
               url("../assets/fonts/TSTAR_W00_Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style:  normal;
}

@media screen and (max-width: 1500px) {
  .personal-item {width: 4rem;}

  .auth-link > span {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .custom-search { width: 14rem; }

  .auth-link > span { display: flex; }

  .personal-item { margin-left: 0; }

  .custom-navbar {background: rgba(255, 255, 255, 0.9) !important;}
}

@media screen and (max-width: 768px) {
  #carouselExampleControls { display: none !important; }
}

