.row {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.form {
  width: 80%;
  color: #52813a;
  font-size: 18px;
  height: 2em;
  /* border: 3px solid rgba(52,	96,	190); */
  border-radius: 3px;
  border-color: rgba(52, 96, 190);
}

.form:hover {
  color: red;
}

.button {
  font-size: 18px;
  width: 19%;
  height: 2em;
  color: #52813a;
}

.button:hover {
  color: red;
}
