.row {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

form {
  display: grid;
  grid-template-columns: 1fr 50px;
  width: 100vm;
  grid-gap: 0;
}

.type {
  box-sizing: border-box;
  color: #52813a;
  border-radius: 3px;
  border-color: rgba(52, 96, 190);
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.button {
  color: #52813a;
  float: left;
}

.type:hover,
.button:hover {
  color: red;
}
