.Finished {
  border:        2px solid #fff;
  box-sizing:    border-box;
  border-radius: 5px;
  width:         600px;
  padding:       15px;
  color:         #fff;
}

.Finished h1 {
  color:       #fff;
  margin-left: .7em;
}

.WriteAnswers { margin-left: 1.5em; }
